 <article class="block container">
      <header class="block__header">
        <h2 class="block__heading">Host On The Cloud to Keep Growing</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae,
          iusto?
        </p>
      </header>
      <div class="grid grid--1x2">
        <div >
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
          <h3 feature__heading>Super Easy to Use</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
            suscipit consequatur voluptates accusamus ex, molestiae asperiores
            dignissimos earum impedit repellat repudiandae doloremque iure quo,
            sit hic error autem ducimus. Repellendus!
            <a href="#" class="link-arrow">Learn More</a>
          </p>
        </div>
        <div features__image>
          <!-- <img src="images/easy.jpg" alt=""> -->
        </div>
      </div>
    </article>